<div class="light-background-container">
	
	<div class="row">
		<div class="medium-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_document') %>
				<p><%= link_to "Exporta XML", exporta_xml_path(:edifici_id => @edifici.id, :format => :xml) %></p>
			</div>
		</div>
	</div>

</div>