<div class="light-background-container">
	
	<div class="row">
		<div class="medium-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_document') %>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<div class="light-container">
				
					<%= image_tag('document_xml.png', :alt => t('.exportar_operacions'), :class => 'imatge-document') %>
					<%= link_to t('.exportar_operacions'), exporta_xml_path(:edifici_id => @edifici.id, :format => :xml), :class => 'button'  %>
					<p><%= t('.text_generar_xml') %></p>	
				
			</div>
		</div>
	</div>
</div>


