<div class="light-background-container">
	
	<div class="row">
		<div class="medium-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_identificacio') %>
			</div>
		</div>
	</div>

	<% flash.each do |key, value| %>
    <div class="row">
    	<div class="medium-6 columns end">
		    <div class="success callout" data-closable>
				  <%= value %>
				  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			</div>
		</div>
  <% end %>

	<div class="row">
		<div class="medium-12 columns">
			<div class="light-container">
				<div class="row">
					<div class="medium-12 columns">
						<div class="identificacio-item">
							<%= render 'form', identificacio: @identificacio %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>