<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Programa rehabilitació</title>
  <style>
    <%= Rails.application.assets.find_asset('application.scss').to_s %>
  </style>
</head>
<body>